body {
  font-family: Tahoma, Verdana;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
}
a:focus,
a:hover {
  box-shadow: inset 0 calc(-0.09em) 0 0 #FFF, inset 0 -0.14em 0 0 rgba(255, 255, 255, 0.2), inset 0 -0.14em 0 0 currentColor;
  text-decoration: none;
}

picture > a:focus,
picture > a:hover {
  box-shadow: none;
}

header {
  max-width: 45rem;
  margin: 0 auto 2em auto;
  padding: 1em 0
}

main {
  max-width: 45rem;
  margin: 0 auto 2em auto;
}

nav {
  padding: 1em 0;
  text-align: center;
  font-size: 1.2em;
}
nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0 .5em;
}
nav.menu ul:not(:hover) .active a {
  box-shadow: inset 0 calc(-0.09em) 0 0 #FFF, inset 0 -0.14em 0 0 rgba(255, 255, 255, 0.2), inset 0 -0.14em 0 0 currentColor;
  text-decoration: none;
}

time {
  font-style: italic;
}

article {
  padding-bottom: 1em;
}

.post-list li {
  margin-top: 1em;
}
.post-list time::before {
  content: " - ";
}
.post-list time::after {
  content: "\A\A";
  white-space: pre;
}

.keywords {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  font-weight: bold;
}
.keywords li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.keywords li:not(:last-child)::after {
  content: ",";
}
.keywords::before {
  content: "Keywords:";
}

img.front-cover {
  width: 120px;
  margin: 0 1em 1em 1em;
}

img.portfolio-screenshot {
  width: 90%;
  padding: 0 5% 0;
}

footer {
  background: #F3F3F3;
  padding: 1em 0;
  text-align: center;
}
